
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Areas/Auth/Views/Shared/_AuthLayout.cshtml";
}


<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Signup Welcome Message -->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Content-->
        <div class="d-flex flex-row-fluid flex-column flex-column-fluid text-center p-10 py-lg-20">
            <!--begin::Logo-->
            <a href="../../index-2.html" class="pt-lg-20 mb-12">
                <img alt="Logo" src="../../assets/media/logos/logo-compact.svg" class="h-60px" />
            </a>
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="text-center">
                <!--begin::Logo-->
                <h1 class="fw-bolder fs-2qx text-dark mb-7">Email was send Successfully!!</h1>
                <!--end::Logo-->
                <!--begin::Message-->
                <div class="fw-bold fs-2 text-gray-400 mb-15">
                    Please Check your mail!!
                    <br />
                    <br />
                    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" class="btn btn-primary">Go To Mail</a>
                </div>
                <!--end::Message-->
                <!--begin::Link-->
                @*<a class="btn btn-lg btn-primary" asp-area="Auth" asp-controller="Account" asp-action="Login">Go to SignIn</a>*@
                <!--end::Link-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        <!--begin::Illustration-->
        <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-150px min-h-lg-350px" style="background-image: url(../../assets/media/illustrations/sigma-1/7.png)"></div>
        <!--end::Illustration-->
    </div>
    <!--end::Authentication - Signup Welcome Message-->
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


