@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Areas/Auth/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Signup Welcome Message -->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Content-->
        <div class="d-flex flex-row-fluid flex-column flex-column-fluid text-center p-10 py-lg-20">
            <!--begin::Logo-->
            <a href="../../index-2.html" class="pt-lg-20 mb-12">
                <img alt="Logo" src="../../assets/media/logos/logo-compact.svg" class="h-60px" />
            </a>
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="text-center">
                <form asp-area="Auth" asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <!--begin::Logo-->
                    <h1 class="fw-bolder fs-2qx text-dark mb-7">Give Your Email</h1>
                    <!--end::Logo-->
                    <!--begin::Message-->
                    <div class="fw-bold fs-2 text-gray-400 mb-15">
                        <!--begin::Input-->
                        <div class="row">
                            <div class="col-lg-3">

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <input class="form-control form-control-lg bg-active-warning" type="text" asp-for="Email" autocomplete="off" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-lg-3">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>
                        <!--end::Input-->
                    </div>
                    <!--end::Message-->
                    <!--begin::Link-->
                    <button type="submit" class="btn btn-lg btn-primary">Send</button>
                    <!--end::Link-->
                </form>
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        <!--begin::Illustration-->
        <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-150px min-h-lg-350px" style="background-image: url(../../assets/media/illustrations/sigma-1/7.png)"></div>
        <!--end::Illustration-->
    </div>
    <!--end::Authentication - Signup Welcome Message-->
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
