@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "AddPhoneNumber";
    Layout = "~/Areas/Auth/Views/Shared/_AuthLayout.cshtml";
}
@section Style{
    <style>
        a {
            text-decoration: none;
        }

        .pageShape {
            width: 100%;
            height: 100vh;
            display: inline-block;
            display: flex;
            align-items: center;
            margin-top: 50px !important
        }
    </style>
}

<div class="pageShape bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5 pb-5">
                                <div class="text-center">
                                    <h3>@ViewData["Title"]</h3>
                                </div>
                                <form asp-area="Auth" asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                   
                                    <div class="fv-row mb-10">
                                        <!--begin::Label-->
                                        <label class="form-label fs-6 fw-bolder text-dark" asp-for="PhoneNumber">PhoneNumber</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input class="form-control form-control-lg form-control-solid" asp-for="PhoneNumber" id="PhoneNumber" autocomplete="off" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        <!--end::Input-->
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <h2 class="fs-1 text-white">Ingen Studio Limited</h2>
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

